[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
python-docx = "*"
bs4 = "*"
docx = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.10"
